<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:label="Countly hub host"
      android:usesCleartextTraffic="true">
    <activity
        android:name=".HostActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service
        android:name=".HostHubService"
        android:exported="true">
      <intent-filter>
        <action android:name="ly.count.android.sdk.hub.action.BIND"/>
      </intent-filter>
    </service>
  </application>

</manifest>
