language: android
sudo: false
env:
  global:
# Initiating clean Gradle output
    - TERM=dumb
# Amount of memory granted to Gradle JVM
    - GRADLE_OPTS="-Xmx1024m -XX:MaxPermSize=1024m"
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    # via the "travis encrypt" command using the project repo's public key
    - secure: "NjcffFHd3rrH6e2S1NwUNQORM2vs2uzhBHu+22g+sXc+PeFmlWeh7tFK8fnERxRNuVcYF0Amhwu/ZSDKGAm+882p8lNiVwhw22EybxRcE/JJbsJpjdVg2fd0mzbLOc1DX+ryPoGcQaCqyhM/V0tZrtHhRvqWsM75HRmR0XSp/Sc="
android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.2
    - android-23
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-google-google_play_services
# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
after_script:
  - cat /home/travis/build/Countly/countly-sdk-android/sdk-messaging/build/outputs/lint-results-debug.xml
notifications:
  email: hello@count.ly
  hipchat:
    rooms:
      secure: aINedM9Exa+83NKGsgpSmEWBqEY68jD9cKKUZ3m5yNxc373E2U76+nFFkaBEGayJ2stExyHicxGphIq127m8IopjG4DX/bSD8pogtIfGIklb6tz/XQafm/gGkgN2G9SVi/ef0yRisvX01jRRVU+BENQ3G4T6s6iYjoWqvQPCjpE=
addons:
  coverity_scan:
    project:
      name: "Countly/countly-sdk-android"
    notification_email: hello@count.ly
    build_command_prepend: "./gradlew clean"
    build_command: "./gradlew build"
    branch_pattern: master