<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ly.count.android.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true">
        <uses-library android:name="android.test.runner"/>
    </application>

    <!--<instrumentation android:name="ly.count.android.sdk.test.InstrumentationTestRunner"-->
        <!--android:targetPackage="ly.count.android.sdk"/>-->

</manifest>
