<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ly.count.sdk.android.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <receiver android:name="ly.count.sdk.android.internal.ModuleAttribution$AttributionReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <uses-library android:name="android.test.runner"/>

        <service android:name="ly.count.sdk.android.internal.CountlyService" android:process=":countly">
        </service>
    </application>

</manifest>
