<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application
      android:usesCleartextTraffic="true"
      android:networkSecurityConfig="@xml/network_security_config"
      tools:replace="android:networkSecurityConfig,android:usesCleartextTraffic">
    <activity
        android:name=".TestUtils$Activity2"
        android:excludeFromRecents="true"
        android:noHistory="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:launchMode="singleTop"
        android:exported="false"/>
    <uses-library android:name="android.test.runner"/>
  </application>

</manifest>
