<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ly.count.android.api"
          android:versionCode="3"
          android:versionName="14.07">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />
    <application>
        <uses-library android:name="android.test.runner"/>
    </application>
    <instrumentation android:name="ly.count.android.api.test.InstrumentationTestRunner"
                     android:targetPackage="ly.count.android.api"
                     android:label="Tests for countly-sdk-android"/>
</manifest>
